/* Code to add color to background of the HTML file */
body {
    background-color: rgb(24, 26, 27);
}

* {
    font-family: "Times New Roman", sans-serif;
    color: rgb(232, 230, 227);
    box-sizing: border-box;
    /* border: 2px solid gray; */
    /* margin: 0;
    padding: 0; */
}

/* Code to center the images */
.food-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.heading {
    text-align: center;
}

#index-heading {
    font-size: 48px;
}

.index-list li {
    font-size: 32px;
}

.index-container {
    width: 274px;
    /* background-color: gray; */
    margin: 0 auto;
}

.content-container {
    width: 700px;
    margin: 0 auto;
    font-size: 22px;
}

.heading-container {
    width: 1000px;
    /* background-color: red; */
    margin: 0 auto;
    font-size: 30px;
}